/* *************************************** */
/* General colors and variables            */
/* *************************************** */

:root {
	--blue: #3AA2DB;
	--indigo: #6610f2;
	--purple: #B73188;
	--pink: #e83e8c;
	--red: #E52A2D;
	--bg-red: #e3cccc;
	--orange: #EA5C28;
	--yellow: #F2911A;
	--green: #1c7e3f;
	--bg-green: #c9fbd3;
	--teal: #20c997;
	--cyan: #434849;
	--white: #fff;
	--black: #000;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--gray-light: #9aa0a6;
	--gray-lightest: #dee2e6;
	--primary: var(--blue);
	--secondary: var(--indigo);
	--success: #32B796;
	--info: #17a2b8;
	--warning: #F2911A;
	--danger: #E52A2D;
	--light: #f8f9fa;
	--dark: #1d2124;
}

/* override colors for dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--light: #1d2124; /* inverted from --dark */
		--dark: #f8f9fa; /* inverted from --light */
		--gray-dark: #9aa0a6; /* inverted from --gray-light */
		--gray-light: #343a40; /* inverted from --gray-dark */
		--gray-lightest: #252525;
		--bg-green: #46b292;
		--bg-red: #a44244;
	}
}

/* *************************************** */
/* General                                 */
/* *************************************** */

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	overflow: hidden;
	background-color: var(--light);
	color: var(--dark);
}

a {
	text-decoration: none;
	color: var(--blue);
	cursor: pointer;
}

a:hover,
a:active,
a:focus {
	text-decoration: underline;
}

a.external::after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	margin: 0 3px 0 5px;
}

@media (prefers-color-scheme: dark) {
	a.external::after {
		content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAgMAAADwXCcuAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAxQTFRFAAAA////////////OMA7qAAAAAR0Uk5TAP9gIFOYGRgAAAAqSURBVAjXY2BgDWAIZQpgcOCcwOCgJsDgMIOBwTmBgcHhgAMDDIaGOgAAgeUG8U0ghIsAAAAASUVORK5CYII=);
	}
}

/* *************************************** */
/* Header                                  */
/* *************************************** */

header {
	display: flex;
	position: fixed;
	width: 100%;
	height: 56px;
	justify-content: start;
	align-items: center;
	background-color: var(--primary);
	color: var(--white);
	white-space: nowrap;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	z-index: 999;
	user-select: none;
}

header h1 {
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 0 8px;
}

header h2:not(:empty)::before,
header h3:not(:empty)::before {
	content: '›';
	margin: 0 5px;
}

header h2 {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	color: var(--white);
}

header h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	color: #dee2e6;
}

header #menu-toggler {
	display: block;
	float: right;
	width: 56px;
	height: 56px;
	border: none;
	background: transparent;
	color: var(--white);
	font-size: 30px;
	padding-bottom: 5px; /* to center the icon */
	cursor: pointer;
	outline: 0;
	transition: 0.1s;
}

header #menu-toggler:hover,
header #menu-toggler:focus {
	background-color: rgba(0,0,0,.14);
	transition: 0.03s;
}

header #menu-container {
	position: absolute;
	display: block;
	top: 50px;
	left: -100%;
	background: var(--secondary);
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	transition: 0.1s;
	border-radius: 4px;
}

header #menu-container.open {
	left: 0px;
	transition: 0.03s;
}

header #menu-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header #menu-container ul li:first-child a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

header #menu-container ul li:last-child a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

header #menu-container ul li a {
	display: block;
	line-height: 46px;
	padding: 0 32px 0 16px;
	color: var(--white);
	outline: 0;
	cursor: pointer;
	transition: 0.1s;
}

header #menu-container ul li a:hover,
header #menu-container ul li a:active,
header #menu-container ul li a:focus {
	text-decoration: none;
	background-color: var(--primary);
	color: var(--white);
	transition: 0.03s;
}

/* *************************************** */
/* Main content container                  */
/* *************************************** */

main {
	margin-top: 56px;
	padding: 8px;
	/* apply scrollbar to main instead of body */
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	height: calc(100vh - 72px);
	height: -webkit-calc(100vh - 72px);
	height: -moz-calc(100vh - 72px);
	height: -ms-calc(100vh - 72px);
	height: -o-calc(100vh - 72px);
}

main.noheader {
	margin-top: 0px !important;
	height: 100vh !important;
}

nav {
	display: block;
	margin: 16px 0;
	font-size: large;
}

nav a {
	display: inline-block;
	margin: 0 8px;
}

/* *************************************** */
/* Page                                    */
/* *************************************** */


/* *************************************** */
/* Quiz                                    */
/* *************************************** */

#quiz-answers {
	list-style-type: none;
}
