{% extends "base.njk" %}
{% set title = "Coalition settings" %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/admin">Staff</a></li>
		<li class="breadcrumb-item active" aria-current="page">Coalition settings</li>
	</ol>
</nav>

{% for coalition in coalitions %}
<div class="card w-100 mb-4" id="coalition-{{ coalition.id }}">
	<div class="card-header pe-2 d-flex align-items-center" style="background-color: {{ coalition.intra_coalition.color }};">
		<div class="d-inline-block pe-3 lh-lg flex-grow-1" style="color: #fff; font-weight: bold;">Coalition "{{ coalition.intra_coalition.name }}"</div>
		<div class="d-inline-block">

		</div>
	</div>
	<form class="card-body" action="/admin/coalitions/{{ coalition.id }}/edit" method="post" id="coalition-{{ coalition.id }}-edit-form" style="background-color: {{ coalition.intra_coalition.color | rgba(0.3) }};">
		<div class="mb-3">
			<p>To modify core coalition settings, edit the coalition on Intra <a href="https://admin.intra.42.fr/blocs/{{ bloc_id }}/coalitions/{{ coalition.intra_coalition.slug }}/edit" target="_blank">here</a>.</p>
		</div>

		<div class="mb-3">
			<label for="tagline" class="form-label">Tagline</label>
			<input type="text" id="tagline" name="tagline" class="form-control" placeholder="Tagline" value="{{ coalition.tagline }}">
		</div>

		<div class="mb-3">
			<label for="description" class="form-label">Description</label>
			<textarea id="description" name="description" class="form-control" placeholder="Description" rows="8">{{ coalition.description }}</textarea>
		</div>

		<div class="mb-3">
			<button type="submit" class="btn btn-primary">Save coalition</button>
		</div>
	</form>
</div>
{% endfor %}
{% endblock %}
