{% extends "base.njk" %}
{% set title = "Admin Dashboard" %}

{% block content %}
<div class="container-lg">
	<h1 class="mb-4">Admin Dashboard</h1>

	<div class="row ms-0 me-0 mb-4">
		<div class="col-md-6">
			<div class="card h-100">
				<div class="card-header">
					<h5 class="card-title mb-0">User distribution</h5>
				</div>
				<div class="card-body">
					<canvas class="codam-chart" data-url="/admin/charts/coalitions/users/distribution" id="coalition-user-distribution"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card h-100">
				<div class="card-header">
					<h5 class="card-title mb-0">Season deadlines</h5>
				</div>
				<div class="card-body">
					{% if currentBlocDeadline %}
						<p>Start: <span id="season-start" data-date="{{ currentBlocDeadline.begin_at | timestamp }}">{{ currentBlocDeadline.begin_at | timeAgo }}</span></p>
						<p>End: <span id="season-end" data-date="{{ currentBlocDeadline.end_at | timestamp }}">{{ currentBlocDeadline.end_at | timeFromNow }}</span></p>
					{% else %}
						<p>No season currently ongoing.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="row ms-0 me-0 mb-4">
		{% for coalition in coalitions %}
			<div class="col">
				<div class="card h-100">
					<div class="card-header">
						<h5 class="card-title mb-0">Scores for {{ coalition.intra_coalition.name | striptags(true) | escape }}</h5>
					</div>
					<div class="card-body">
						<ul>
							<li>Score: {{ coalitionScores[coalition.id].score | thousands }}</li>
							<li>Total points: {{ coalitionScores[coalition.id].totalPoints | thousands }}</li>
							<li>Total contributor count: {{ coalitionScores[coalition.id].totalContributors | thousands }}</li>
							<li>Average points: {{ coalitionScores[coalition.id].avgPoints | toFixed(2) | thousands }}</li>
							<li>Median points: {{ coalitionScores[coalition.id].medianPoints | toFixed(2) | thousands }}</li>
							<li>Standard deviation points: {{ coalitionScores[coalition.id].stdDevPoints | toFixed(2) | thousands }}</li>
						</ul>
						<ul>
							{% for fixedType, score in coalitionScoresPerFixedType[coalition.id] %}
								<li>Points for {{ fixedType }}s: {{ score | thousands }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="row ms-0 me-0 mb-4">
		<div class="col">
			<div class="card h-100">
				<div class="card-header">
					<h5 class="card-title mb-0">Coalitions score history</h5>
				</div>
				<div class="card-body">
					<canvas height="300" class="codam-chart" data-url="/charts/coalitions/scores/history" id="coalition-score-history"></canvas>
				</div>
			</div>
		</div>
	</div>

	<div class="row ms-0 me-0 mb-4">
		{% for coalition in coalitions %}
			<div class="col">
				<div class="card h-100">
					<div class="card-header">
						<h5 class="card-title mb-0">Score history for {{ coalition.intra_coalition.name | striptags(true) | escape }}</h5>
					</div>
					<div class="card-body">
						<canvas height="500" class="codam-chart" data-url="/charts/coalitions/{{ coalition.id }}/scores/history" id="coalition-{{ coalition.id }}-scores-history"></canvas>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="row ms-0 me-0 mb-4">
		{% for coalition in coalitions %}
			<div class="col">
				<div class="card h-100">
					<div class="card-header">
						<h5 class="card-title mb-0">Current score distribution for {{ coalition.intra_coalition.name | striptags(true) | escape }}</h5>
					</div>
					<div class="card-body">
						<canvas height="500" class="codam-chart" data-url="/admin/charts/coalitions/{{ coalition.id }}/scores/distribution" id="coalition-{{ coalition.id }}-scores-distribution"></canvas>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="row ms-0 me-0 mb-4">
		<div class="col-md-6">
			<div class="card h-100">
				<div class="card-header">
					<h5 class="card-title mb-0">Previous 10 seasons</h5>
				</div>
				<div class="card-body">
					<ul>
						{% for blocDeadline in blocDeadlines %}
							<li>{{ blocDeadline.begin_at | dateInput }} - {{ blocDeadline.end_at | dateInput }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
