{% extends "base.njk" %}
{% set title = "Edit fixed point type " + fixedPointType.type %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/admin">Admin</a></li>
		<li class="breadcrumb-item"><a href="/admin/points/automatic">Edit points system</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ fixedPointType.type }}</li>
	</ol>
</nav>

<form action="/admin/points/automatic/{{ fixedPointType.type }}/edit" method="post">
	<div class="mb-2">
		<label for="description" class="form-label">Description</label>
		<input type="text" id="description" name="description" class="form-control" placeholder="Description" value="{{ fixedPointType.description }}" readonly disabled>
	</div>

	<div class="mb-2">
		<label for="point_amount" class="form-label">Point amount</label>
		<input type="number" id="point_amount" name="point_amount" class="form-control" placeholder="Point amount" value="{{ fixedPointType.point_amount }}" required min="0">
	</div>

	<div class="mb-2 mt-3">
		<input type="checkbox" id="update_current_tournament" name="update_current_tournament" class="form-check-input mr-2" value="true">
		<label for="update_current_tournament" class="form-label">Update all points of this type in the current tournament</label>
	</div>

	<button type="submit" class="btn btn-primary">Save</button>
	<a href="/admin/points/automatic" class="btn btn-secondary">Back to overview</a>
</form>
{% endblock %}
