{% extends "base.njk" %}
{% set title = "Edit fixed point type " + fixedPointType.type %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/admin">Admin</a></li>
		<li class="breadcrumb-item"><a href="/admin/points/automatic">Edit points system</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ fixedPointType.type }}</li>
	</ol>
</nav>

<form action="/admin/points/automatic/{{ fixedPointType.type }}/edit" method="post">
	<div class="mb-2">
		<label for="description" class="form-label">Description</label>
		<input type="text" id="description" name="description" class="form-control" placeholder="Description" value="{{ fixedPointType.description }}" readonly disabled>
	</div>

	<div class="mb-2">
		<label for="point_amount" class="form-label">Point amount</label>
		<input type="number" id="point_amount" name="point_amount" class="form-control" placeholder="Point amount" value="{{ fixedPointType.point_amount }}" required min="0">
	</div>

	<div class="mb-2 mt-3">
		<input type="checkbox" id="update_current_tournament" name="update_current_tournament" class="form-check-input mr-2" value="true">
		<label for="update_current_tournament" class="form-label">Update all points of this type in the current tournament</label>
	</div>

	<button type="submit" class="btn btn-primary">Save</button>
	<a href="/admin/points/automatic" class="btn btn-secondary">Back to overview</a>
</form>

{% if fixedPointType.type == "project" %}
	<h2 class="mt-4">Amount of points per project based on a mark of a 100</h2>
	<i>Points are calculated as follows: <code>score = Math.floor((mark * point_amount) + (difficulty * (mark / 100) / point_amount^1.25))</code></i>
	<table class="table table-striped mt-4">
		<thead>
			<tr>
				<th scope="col">Slug</th>
				<th scope="col">Project</th>
				<th scope="col">Difficulty</th>
				<th scope="col">Points</th>
			</tr>
		</thead>
		<tbody>
			{% for project in projects %}
				<tr class="projects-table-project">
					<td>{{ project.slug }}</td>
					<td>{{ project.name }}</td>
					<td class="projects-table-project-difficulty">{{ project.difficulty }}</td>
					<td class="projects-table-project-points"></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
	function updateProjectPointsTable() {
		// score = (mark * i) + (difficulty * (mark / 100) / i^1.25)
		const mark = 100;
		const fixedPointAmount = parseInt(document.getElementById('point_amount').value);
		const projectsTableProjects = document.querySelectorAll('.projects-table-project');
		for (const project of projectsTableProjects) {
			const difficulty = parseInt(project.querySelector('.projects-table-project-difficulty').textContent);
			const points = Math.floor((mark * fixedPointAmount) + (difficulty * (mark / 100) / Math.pow(fixedPointAmount, 1.25)));
			project.querySelector('.projects-table-project-points').textContent = points;
		}
	}
	updateProjectPointsTable();
	document.getElementById('point_amount').addEventListener('change', updateProjectPointsTable);
	</script>
{% endif %}
{% endblock %}
