{% extends "base.njk" %}
{% set title = "Point history" %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/admin">Admin</a></li>
		<li class="breadcrumb-item active" aria-current="page">Point history</li>
	</ol>
</nav>

<form class="row g-3 mb-3" id="searchfilterform" method="GET" action="/admin/points/history">
	<div class="col">
		<select id="searchfilter" name="searchfilter" class="form-select" required>
			<option value="" {{ "selected" if searchFilter == "" or searchFilter == "none" }} disabled hidden>Choose a filter</option>
			<option value="none">No filter</option>
			<option value="login" {{ "selected" if searchFilter == "login" }}>Login</option>
			<option value="type" {{ "selected" if searchFilter == "type" }}>Type</option>
			<option value="reason" {{ "selected" if searchFilter == "reason" }}>Reason (includes text)</option>
			<option value="intra_type_id" {{ "selected" if searchFilter == "intra_type_id" }}>Intra Type ID</option>
			<option value="date" {{ "selected" if searchFilter == "date" }}>Date (format YYYY-MM-DD)</option>
			<option value="coalition" {{ "selected" if searchFilter == "coalition" }}>Coalition Name</option>
			<option value="intra_score_id" {{ "selected" if searchFilter == "intra_score_id" }}>Intra Score ID</option>
			<option value="internal_score_id" {{ "selected" if searchFilter == "internal_score_id" }}>Internal Score ID</option>
		</select>
	</div>
	<div class="col">
		<input type="text" id="searchfilterval" name="searchfilterval" class="form-control" placeholder="Filter value..." value="{{ searchFilterVal | default('') }}" required>
	</div>
	<div class="col">
		<button type="submit" class="btn btn-primary" id="searchfilterbtn">Search</button>
	</div>
</form>
<script>
document.getElementById('searchfilterform').addEventListener('submit', function(ev) {
	// Prevent form submission
	ev.preventDefault();

	const filter = document.getElementById('searchfilter').value;
	const value = document.getElementById('searchfilterval').value.trim();

	if (filter === 'none') {
		// No filter selected, proceed to regular point history
		window.location.href = '/admin/points/history';
	}
	else {
		// Redirect to the appropriate URL based on the selected filter
		window.location.href = '/admin/points/history/' + encodeURIComponent(filter) + '/' + encodeURIComponent(value);
	}

	return false;
});
</script>

<table class="table coalition-colored">
	<thead>
		<th scope="col">Internal ID</th>
		<th scope="col">Date</th>
		<th scope="col">Coalition</th>
		<th scope="col">Points</th>
		<th scope="col">User</th>
		<th scope="col">Reason</th>
		<th scope="col">Type</th>
		<th scope="col">Intra Type ID</th>
		<th scope="col">Intra Score ID</th>
		<th scope="col text-end" style="text-align: end;">Actions</th> <!-- for some reason the text-end class doesn't work here -->
	</thead>
	<tbody>
		{% for score in scores %}
			<tr style="background: {{ coalitions[score.coalition_id].intra_coalition.color | rgba(0.25) }}">
				<td><a href="/admin/points/history/{{ score.id }}" target="scorejson">{{ score.id }}</a></td>
				<td title="{{ score.created_at }}">{{ score.created_at | timeAgo }}</td>
				<td>{{ coalitions[score.coalition_id].intra_coalition.name | striptags(true) | escape }}</td>
				<td>{{ score.amount }}</td>
				<td><a href="/profile/{{ score.user.intra_user.login | striptags(true) | escape }}">{{ score.user.intra_user.login | striptags(true) | escape }}</a></td>
				<td style="white-space: normal; word-wrap: break-word;">{{ score.reason | striptags(true) | escape }}</td>
				<td>{{ score.fixed_type_id if score.fixed_type_id else "" }}</td>
				<td>{{ score.type_intra_id if score.type_intra_id else "" }}</td>
				<td>{{ score.intra_score_id if score.intra_score_id else "not yet synced" }}</td>
				<td class="text-end" style="white-space: nowrap;">
					<a href="/admin/points/history/{{ score.id }}/sync" class="btn btn-history btn-sm btn-outline-secondary" title="Force synchronize with Intra" data-text="Sync">Sync</a>
					<a href="/admin/points/history/{{ score.id }}/recalculate" class="btn btn-history btn-sm btn-outline-warning" title="Force recalculate this score with the current point system settings" data-text="Recalculate">Recalculate</a>
					<a href="/admin/points/history/{{ score.id }}/delete" class="btn btn-history btn-sm btn-outline-danger" title="Remove this score and act like it never happened" data-text="Delete">Delete</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{{ pagination(pageNav) }}

<script src="/js/reactive-button.js"></script>
<script>
function setupHistoryButtons() {
	const buttons = document.querySelectorAll('.btn-history');
	buttons.forEach(button => {
		button.addEventListener('click', buttonHandler);
	});
}

function buttonHandler(ev) {
	// Prevent the default link behavior
	ev.preventDefault();
	// Prevent the event from bubbling up to parent elements
	ev.stopPropagation();
	// Handle the button reactively
	reactiveButtonHandler(ev.target, ev.target.getAttribute('data-text'), ev.target.href);
	// Return false to further prevent default behavior
	return false;
}

setupHistoryButtons();
</script>
{% endblock %}
