{% extends "base.njk" %}
{% set nomargin = true %}
{% set page_title = coalition.intra_coalition.name %}

{% block content %}
<!-- coalition header -->
<div class="container-fluid coalition-cover p-4" style="background-image: url({{ coalition.intra_coalition.cover_url }}); background-color: {{ coalition.intra_coalition.color | rgba(0.5) }};">
	<div class="mx-auto container-md mw-900 row">
		<div class="col-md-3">
			<img src="{{ coalition.intra_coalition.image_url }}" class="mx-auto d-block" alt="" height="200" style="filter: invert(1); height: auto; max-height: 200px;" />
		</div>
		<div class="col-md-9 text-md-start mt-4 mt-md-0">
			<h2>{{ coalition.intra_coalition.name | striptags(true) | escape }}</h2>
			<p><i>{{ coalition.tagline | striptags(true) | escape }}</i></p>
			<p>{{ coalition.description | striptags(true) | escape | nl2br }}</p>
		</div>
	</div>
</div>

<!-- content -->
<div class="container-md mt-4 mw-900">

	{% if currentBloc %}
		<div class="row ms-0 me-0 mb-4">
			<div class="col">
				<div class="card h-100">
					<div class="card-header">
						<h4 class="card-title mb-0">Top contributors of the past 7 days</h4>
					</div>
					<div class="card-body p-0">
						<table class="table table-striped mb-0">
							<tbody>
								{% for ranking in topContributorsWeek %}
									<tr class="align-middle position-relative">
										<td class="fs-5 p-2" style="width: 25px;">{{ ranking.rank }}.</td>
										<td class="p-0">
											<div class="d-inline-flex flex-row justify-content-start align-items-center text-light">
												<a href="/profile/{{ ranking.user.login }}" class="p-2 text-light stretched-link" style="text-decoration: none;">
													<img loading="lazy" src="{{ ranking.user.image }}" class="user-picture rounded-circle d-inline-block me-2" height="32" />
													<span>{{ ranking.user.usual_full_name | striptags(true) | escape }}</span>
												</a>
											</div>
										</td>
										<td class="text-end ps-2 pe-2 mt-0 mb-2">{{ ranking.score | thousands }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{# if no rankings, display a message #}
						{% if topContributorsWeek | length == 0 %}
							<p class="text-muted p-4"><i>No rankings available (yet).</i></p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="row ms-0 me-0 mb-4">
			<div class="col">
				<div class="card h-100">
					<div class="card-header">
						<h4 class="card-title mb-0">Top contributors of this season</h4>
					</div>
					<div class="card-body p-0">
						<table class="table table-striped mb-0">
							<tbody>
								{% for ranking in topContributors %}
									<tr class="align-middle position-relative">
										<td class="fs-5 p-2" style="width: 25px;">{{ ranking.rank }}.</td>
										<td class="p-0">
											<div class="d-inline-flex flex-row justify-content-start align-items-center text-light">
												<a href="/profile/{{ ranking.user.login }}" class="p-2 text-light stretched-link" style="text-decoration: none;">
													<img loading="lazy" src="{{ ranking.user.image }}" class="user-picture rounded-circle d-inline-block me-2" height="32" />
													<span>{{ ranking.user.usual_full_name | striptags(true) | escape }}</span>
												</a>
											</div>
										</td>
										<td class="text-end ps-2 pe-2 mt-0 mb-2">{{ ranking.score | thousands }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{# if no rankings, display a message #}
						{% if topContributors | length == 0 %}
							<p class="text-muted p-4"><i>No rankings available (yet).</i></p>
						{% else %}
							<p class="m-2 text-end"><a href="/coalitions/{{ coalition.id }}/rankings">View full rankings</a></p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="row ms-0 me-0 mb-4">
			<div class="col">
				<div class="card h-100">
					<div class="card-header">
						<h4 class="card-title mb-0">Score history</h4>
					</div>
					<div class="card-body p-0">
						<canvas height="500" class="codam-chart" data-url="/charts/coalitions/{{ coalition.id }}/scores/history" id="coalition-{{ coalition.id }}-scores-history"></canvas>
					</div>
				</div>
			</div>
		</div>

		<!-- top contributions history table (last 25 top contributions) -->
		<div class="row ms-0 me-0 mb-4">
			<div class="col">
				<div class="card h-100">
					<div class="card-header">
						<h4 class="card-title mb-0">Most recent big contributions</h4>
					</div>
					<div class="card-body p-0">
						{% if user.isStaff %}
							<p class="m-2 text-end"><a href="/admin/points/history/coalition/{{ coalition.intra_coalition.name | lower | striptags(true) | escape }}">View and/or modify point history in admin panel</a></p>
						{% endif %}
						<table class="table table-striped mb-0">
							<thead>
								<th scope="col">Date</th>
								<th scope="col">Student</th>
								<th scope="col">Points</th>
								<th scope="col">Reason</th>
							</thead>
							<tbody>
								{% for score in latestBigScores %}
									<tr>
										<td title="{{ score.created_at }}">{{ score.created_at | timeAgo }}</td>
										<td><a href="/profile/{{ score.user.intra_user.login | striptags(true) | escape }}">{{ score.user.intra_user.login | striptags(true) | escape }}</a></td>
										<td>{{ score.amount }}</td>
										<td style="white-space: normal; word-wrap: break-word;"><small>{{ score.reason | striptags(true) | escape }}</small></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- point history table (last 50 contributions) -->
		<!--
		<div class="row ms-0 me-0 mb-4">
			<div class="col">
				<div class="card h-100">
					<div class="card-header">
						<h4 class="card-title mb-0">Most recent contributions</h4>
					</div>
					<div class="card-body p-0">
						<table class="table table-striped mb-0">
							<thead>
								<th scope="col">Date</th>
								<th scope="col">Student</th>
								<th scope="col">Points</th>
								<th scope="col">Reason</th>
							</thead>
							<tbody>
								{% for score in latestScores %}
									<tr>
										<td title="{{ score.created_at }}">{{ score.created_at | timeAgo }}</td>
										<td><a href="/profile/{{ score.user.intra_user.login | striptags(true) | escape }}">{{ score.user.intra_user.login | striptags(true) | escape }}</a></td>
										<td>{{ score.amount }}</td>
										<td style="white-space: normal; word-wrap: break-word;"><small>{{ score.reason | striptags(true) | escape }}</small></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		-->
	{% endif %}

	<!-- assistant overview for this coalition -->
	{% if assistantsCanQuiz %}
		<div class="row ms-0 me-0 mb-4">
			<div class="col">
				<div class="card h-100">
					<div class="card-header">
						<h4 class="card-title mb-0">{{ coalition.intra_coalition.name }}'s {{ assistantGroup.name }} members</h4>
					</div>
					<div class="card-body p-2">
						<p class="text-muted"><small>Though {{ assistantGroup.name }} members cannot contribute to any coalition's score, they are each also member of a coalition of their choice.</small></p>
						<div class="row row-cols-3 row-cols-md-5 g-2">
							{% for assistant in assistants %}
								<div class="col">
									<div class="card text-center">
										<img src="{{ assistant.image }}" class="img-square card-img-top" alt="{{ assistant.login | striptags(true) | escape }}" />
										<div class="card-body">
											<span><a target="_blank" href="https://profile.intra.42.fr/users/{{ assistant.login | striptags(true) | escape }}/">{{ assistant.usual_first_name if assistant.usual_first_name is not none else assistant.first_name | striptags(true) | escape }}</a></span>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<!-- staff overview for this coalition -->
	<div class="row ms-0 me-0 mb-4">
		<div class="col">
			<div class="card h-100">
				<div class="card-header">
					<h4 class="card-title mb-0">{{ coalition.intra_coalition.name }}'s staff</h4>
				</div>
				<div class="card-body p-2">
					<p class="text-muted"><small>Though campus staff cannot contribute to any coalition's score, they are each also member of a coalition of their choice.</small></p>
					<div class="row row-cols-3 row-cols-md-5 g-2">
						{% for staff_member in staff %}
							<div class="col">
								<div class="card text-center">
									<img src="{{ staff_member.image }}" class="img-square card-img-top" alt="{{ staff_member.login | striptags(true) | escape }}" />
									<div class="card-body">
										<span>{{ staff_member.usual_first_name if staff_member.usual_first_name is not none else staff_member.first_name | striptags(true) | escape }}</span>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- statistics -->
	{% if currentBloc %}
		<div class="row ms-0 me-0 mb-4">
			<div class="col">
				<div class="card h-100">
					<div class="card-header">
						<h4 class="card-title mb-0">Statistics</h4>
					</div>
					<div class="card-body p-2">
						<ul>
							<li>Total points: {{ coalitionScore.totalPoints | thousands }}</li>
							<li>Total contributors: {{ coalitionScore.totalContributors | thousands }} <small class="text-muted">(any member who has contributed at least 1 point this season)</small></li>
							<li>Average points: {{ coalitionScore.score | thousands }} <small class="text-muted">(this becomes the coalition score: total points / total contributors)</small></li>
							<li>Total members: {{ coalitionScore.totalMembers | thousands }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</div>

{% endblock %}
