{% extends "base.njk" %}
{% set noheader = true %}
{% set page_title = "Log in failed" %}

{% block content %}
	<h1>Log in to Codam's Coalition System failed</h1>
	<p>An error occurred while logging in. <a href="/login">Click here to try again.</a></p>
{% endblock %}
