{% extends "base.njk" %}
{% set nomargin = true %}
{% set page_title = profileUser.login + "'s profile" %}

{% block content %}
<!-- profile header -->
<div class="container-fluid coalition-cover p-4" style="background-image: url({{ profileUser.coalition_users[0].coalition.cover_url }}); background-color: {{ profileUser.coalition_users[0].coalition.color | rgba(0.5) }};">
	<div class="mx-auto container-md mw-900 row">
		<div class="col-md-3">
			<img src="{{ profileUser.image }}" class="user-picture rounded-circle mx-auto d-block" alt="" height="200" style="background: #f0f0f0; height: auto; max-height: 200px;" />
		</div>
		<div class="col-md-5 text-center text-md-start mt-4 mt-md-0">
			<h3>{{ profileUser.usual_full_name | striptags(true) | escape }}</h3>
			<p><i>{{ profileUser.login | striptags(true) | escape }}</i></p>
			<p><a href="https://profile.intra.42.fr/users/{{ profileUser.login | striptags(true) | escape }}" target="_blank">42 Profile</a></p>
		</div>
		<div class="col-md-4 text-center text-md-end mt-4 mt-md-0">
			<ul class="list-unstyled">
				<li>Coalition: <a href="/coalitions/{{ profileUser.coalition_users[0].coalition.id }}" style="color: {{ profileUser.coalition_users[0].coalition.color }};">{{ profileUser.coalition_users[0].coalition.name | striptags(true) | escape }}</a></li>
				<li>Total score: {{ totalScore | thousands }}</li>
				<li>{{ profileUser.coalition_users[0].coalition.name }} ranking: #{{ ranking }}</li>
				{% for userRanking in userRankings %}
					<li>{{ userRanking.rankingName }} ranking: #{{ userRanking.rank }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<!-- profile content -->
<div class="container-md mt-4 mw-900">
	<!-- point history chart (current tournament) -->
	<div class="row ms-0 me-0 mb-4">
		<div class="col">
			<div class="card h-100">
				<div class="card-header">
					<h4 class="card-title mb-0">Point history</h4>
				</div>
				<div class="card-body">
					<canvas height="300" class="codam-chart" data-url="/charts/users/{{ profileUser.login | striptags(true) | escape }}/points/split" id="user-points-split"></canvas>
				</div>
			</div>
		</div>
	</div>

	<!-- total point history chart (current tournament) -->
	<div class="row ms-0 me-0 mb-4">
		<div class="col">
			<div class="card h-100">
				<div class="card-header">
					<h4 class="card-title mb-0">Total point history</h4>
				</div>
				<div class="card-body">
					<canvas height="300" class="codam-chart" data-url="/charts/users/{{ profileUser.login | striptags(true) | escape }}/points/total" id="user-points-total"></canvas>
				</div>
			</div>
		</div>
	</div>

	<!-- point history table (last 25 big contributions) -->
	<div class="row ms-0 me-0 mb-4">
		<div class="col">
			<div class="card h-100">
				<div class="card-header">
					<h4 class="card-title mb-0">Last 25 big contributions</h4>
				</div>
				<div class="card-body p-0">
					<table class="table coalition-colored mb-0">
						<thead>
							<th scope="col">Date</th>
							<th scope="col">Points</th>
							<th scope="col">Reason</th>
						</thead>
						<tbody>
							{% for score in latestBigScores %}
								<tr style="background: {{ score.coalition.intra_coalition.color | rgba(0.25) }}">
									<td title="{{ score.created_at }}">{{ score.created_at | timeAgo }}</td>
									<td>{{ score.amount | thousands }}</td>
									<td style="white-space: normal; word-wrap: break-word;">{{ score.reason | striptags(true) | escape }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- point history table (last 100 contributions) -->
	<div class="row ms-0 me-0 mb-4">
		<div class="col">
			<div class="card h-100">
				<div class="card-header">
					<h4 class="card-title mb-0">Last 100 contributions</h4>
				</div>
				<div class="card-body p-0">
					{% if user.isStaff %}
						<p class="m-2 text-end"><a href="/admin/points/history/login/{{ profileUser.login | striptags(true) | escape }}">View and/or modify point history in admin panel</a></p>
					{% endif %}
					<table class="table coalition-colored mb-0">
						<thead>
							<th scope="col">Date</th>
							<th scope="col">Points</th>
							<th scope="col">Reason</th>
						</thead>
						<tbody>
							{% for score in latestScores %}
								<tr style="background: {{ score.coalition.intra_coalition.color | rgba(0.25) }}">
									<td title="{{ score.created_at }}">{{ score.created_at | timeAgo }}</td>
									<td>{{ score.amount | thousands }}</td>
									<td style="white-space: normal; word-wrap: break-word;">{{ score.reason | striptags(true) | escape }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
