{% extends "base.njk" %}
{% set title = "Webhooks history" %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/admin">Admin</a></li>
		<li class="breadcrumb-item active" aria-current="page">Webhooks history</li>
	</ol>
</nav>

<form class="row g-3 mb-3" id="searchfilterform">
	<div class="col">
		<select id="searchfilter" name="searchfilter" class="form-select" required>
			<option value="" selected disabled hidden>Choose a filter</option>
			<option value="none">No filter</option>
			<option value="status">Status</option>
			<option value="model">Model type</option>
			<option value="event">Event type</option>
			<option value="body">Body (includes text)</option>
			<option value="id">Delivery ID</option>
		</select>
	</div>
	<div class="col">
		<input type="text" id="searchfilterval" name="searchfilterval" class="form-control" placeholder="Filter value..." required>
	</div>
	<div class="col">
		<button type="submit" class="btn btn-primary" id="searchfilterbtn">Search</button>
	</div>
</form>

<table class="table table-striped" id="results">
	<thead>
		<tr>
			<th scope="col" data-key="id" data-format="code">Delivery ID</th>
			<th scope="col" data-key="received_at" data-format="datetime">Received at</th>
			<th scope="col" data-key="handled_at" data-format="datetime">Handled at</th>
			<th scope="col" data-key="model">Model</th>
			<th scope="col" data-key="event">Event</th>
			<th scope="col" data-key="status">Status</th>
			<th scope="col" data-key="body" data-format="json" style="width: 50%;">Body</th>
		</tr>
	</thead>
	<tbody id="search-results">

	</tbody>
</table>

<nav aria-label="Page navigation" class="d-flex justify-content-center" id="pagenav"></nav>

<script src="/js/reactive-button.js"></script>
<script src="/js/apisearcher-table.js"></script>
<script>
const apiSearcher = new ApiSearcherTable({
	url: window.location.origin + '/admin/apisearch/hooks/',
	results: '#results',
	filterSelector: '#searchfilter',
	filterValue: '#searchfilterval',
	filterForm: '#searchfilterform',
	pageNav: '#pagenav',
	noPoints: true,
	actions: [
		{
			name: 'Retrigger',
			url: window.location.origin + '/admin/hooks/retrigger/', // id will be appended
			background: true, // background request, set to false to open in the same tab instead
		}
	]
});
</script>
{% endblock %}
