{% extends "base.njk" %}
{% set page_title = "Webhook secrets management" %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/admin">Staff</a></li>
		<li class="breadcrumb-item active" aria-current="page">Webhooks secrets management</li>
	</ol>
</nav>

<h2 class="mt-4">Webhook Secrets</h2>
{% for secret in secrets %}
<div class="card w-100 mb-4" id="secret-{{ secret.model }}-{{ secret.event }}">
	<div class="card-header pe-2 d-flex align-items-center">
		<h4 class="d-inline-block pe-3 lh-lg flex-grow-1" >Secret for {{ secret.model }} {{ secret.event }}</h4>
	</div>
	<div class="card-body">
		<form action="/admin/hooks/secrets/{{ secret.model }}/{{ secret.event }}/edit" method="post" class="">
			<div class="row g-3 mb-3">
				<div class="col-md-6">
					<label for="new_model" class="form-label">Model</label>
					<input type="text" id="new_model" name="new_model" class="form-control" required value="{{ secret.model }}" pattern="[a-z_]+">
				</div>
				<div class="col-md-6">
					<label for="new_event" class="form-label">Event</label>
					<input type="text" id="new_event" name="new_event" class="form-control" required value="{{ secret.event }}" pattern="[a-z_]+">
				</div>
			</div>
			<div class="row g-3 mb-3">
				<div class="col-md-12">
					<label for="secret" class="form-label">Secret</label>
					<input type="text" id="secret" name="secret" class="form-control" required value="{{ secret.secret }}" style="font-family: monospace;">
				</div>
			</div>
			<div class="col-md-12">
				<button type="submit" class="btn btn-success">Save secret</button>
				<button type="button" class="btn btn-danger">Delete secret</button>
			</div>
		</form>
	</div>
</div>
{% endfor %}

<div class="card w-100 mb-4" id="webhook-secret-new">
	<div class="card-header pe-2 d-flex align-items-center">
		<h4 class="d-inline-block pe-3 lh-lg flex-grow-1">Create a new webhook secret</h4>
		<div class="d-inline-block">

		</div>
	</div>
	<div class="card-body">
		<form action="/admin/hooks/secrets/new" method="post" class="">
			<div class="row g-3 mb-3">
				<div class="col-md-6">
					<label for="model" class="form-label">Model</label>
					<input type="text" id="model" name="model" class="form-control" required pattern="[a-z_]+">
				</div>
				<div class="col-md-6">
					<label for="event" class="form-label">Event</label>
					<input type="text" id="event" name="event" class="form-control" required pattern="[a-z_]+">
				</div>
			</div>
			<div class="row g-3 mb-3">
				<div class="col-md-12">
					<label for="secret" class="form-label">Secret</label>
					<input type="text" id="secret" name="secret" class="form-control" required style="font-family: monospace;">
				</div>
			</div>
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary w-100">Create secret</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
