{% extends "base.njk" %}
{% set title = "Questionnaire settings" %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/admin">Staff</a></li>
		<li class="breadcrumb-item active" aria-current="page">Questionnaire settings</li>
	</ol>
</nav>

{% for question in questions %}
<div class="card w-100 mb-4" id="question-{{ question.id }}">
	<div class="card-header pe-2 d-flex align-items-center">
		<div class="d-inline-block pe-3 lh-lg flex-grow-1">Question {{ question.id }}</div>
		<div class="d-inline-block">
			<a href="/admin/quiz/questions/{{ question.id }}/edit" class="btn btn-sm btn-secondary">Edit question</a>
			<form class="d-inline-block" action="/admin/quiz/questions/{{ question.id }}/delete" method="post">
				<button class="btn btn-sm btn-danger">Delete question</button>
			</form>
		</div>
	</div>
	<div class="card-body">
		<h5 class="card-title">{{ question.question }}</h5>

		<form action="/admin/quiz/answers/new" method="post" id="question-{{ question.id }}-new-answer-form"></form>

		<table class="table table-striped">
			<thead>
				<tr>
					<!-- <th scope="col">ID</th> -->
					<th scope="col">Answer</th>
					<th scope="col" style="width: 25%;">Coalition</th>
					<th scope="col" style="width: 10%;">Weight</th>
					<th scope="col text-end" style="text-align: end; width: 20%;">Options</th> <!-- for some reason the text-end class doesn't work here -->
				</tr>
			</thead>
			<tbody>
				{% for answer in question.answers %}
					<tr class="align-middle">
						<!-- <th scope="row">{{ answer.id }}</th> -->
						<td>{{ answer.answer }}</td>
						<td>{{ answer.coalition.intra_coalition.name }}</td>
						<td>{{ answer.weight }}</td>
						<td class="text-end">
							<a href="/admin/quiz/answers/{{ answer.id }}/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
							<form class="d-inline-block" action="/admin/quiz/answers/{{ answer.id }}/delete" method="post">
								<button class="btn btn-sm btn-outline-danger">Delete</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr class="align-middle">
					<!-- <th scope="row">New</th> -->
					<td><input type="text" class="form-control" name="answer" placeholder="New answer..." aria-label="New answer" form="question-{{ question.id }}-new-answer-form" required></td>
					<td>
						<select class="form-select" aria-label="Coalition" name="coalition_id" form="question-{{ question.id }}-new-answer-form" required>
							<option value="" selected disabled hidden>Choose a coalition...</option>
							{% for coalition in coalitions %}
								<option value="{{ coalition.id }}">{{ coalition.name }}</option>
							{% endfor %}
						</select>
					</td>
					<td><input type="number" class="form-control" name="weight" form="question-{{ question.id }}-new-answer-form" min="1" value="10" step="1" required></td>
					<td class="text-end">
						<input type="hidden" name="question_id" form="question-{{ question.id }}-new-answer-form" value="{{ question.id }}">
						<button type="submit" href="/admin/quiz/answers/new" class="btn btn-outline-primary" form="question-{{ question.id }}-new-answer-form">Add answer</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
{% endfor %}

<div class="card w-100 mb-4" id="question-new">
	<div class="card-header pe-2 d-flex align-items-center">
		<div class="d-inline-block pe-3 lh-lg flex-grow-1">Create a new question</div>
		<div class="d-inline-block">

		</div>
	</div>
	<div class="card-body">
		<form action="/admin/quiz/questions/new" method="post" class="row g-3 mb-3">
			<div class="col-md-9">
				<!-- <label for="question" class="form-label">Question</label> -->
				<input type="text" id="question" name="question" class="form-control" placeholder="Question" required>
			</div>

			<div class="col-md-3">
				<button type="submit" class="btn btn-primary w-100">Create question</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
