{# A confirmation page indicating points have been added/assigned, which then allows for a redirect back to the form the user was on. #}

{% extends "base.njk" %}
{% set title = "Points assigner" %}

{% block content %}
<h2 class="mb-3">Result</h2>
{% if failedScores|length > 0 %}
<div class="alert alert-danger">The following points could not be assigned. Please check the error messages below.</div>
<table class="table">
	<thead>
		<tr>
			<th>Login</th>
			<th>Points not assigned</th>
			<th>Error message</th>
		</tr>
	</thead>
	<tbody>
		{% for failedScore in failedScores %}
			<tr>
				<td><a href="/profile/{{ failedScore.login }}">{{ failedScore.login }}</a></td>
				<td>{{ failedScore.amount }}</td>
				<td>{{ failedScore.error }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<hr style="margin-top: 80px;">
{% endif %}
<div class="alert alert-success">The following points have been assigned successfully:</div>
<table class="table coalition-colored" id="points-added">
	<thead>
		<tr>
			<th>Login</th>
			<th>Coalition</th>
			<th>Points</th>
			<th>Reason</th>
		</tr>
	</thead>
	<tbody>
		{% for score in scores %}
			<tr class="points-added-row" style="background: {{ score.coalition.intra_coalition.color | rgba(0.25) }}">
				<td><a href="/profile/{{ score.user.intra_user.login }}">{{ score.user.intra_user.login }}</a></td>
				<td>{{ score.coalition.intra_coalition.name }}</td>
				<td>{{ score.amount }}</td>
				<td>{{ score.reason }}</td>
			</tr>
		{% endfor %}
		{% if scores|length == 0 %}
			<tr>
				<td colspan="4"><b>No points assigned, are you sure you filled in the form successfully?</b></td>
			</tr>
		{% endif %}
	</tbody>
</table>

<div class="mb-3">
	<a href="{{ redirect }}" class="btn btn-primary">Assign more points</a>
	<a href="/admin/points/history" class="btn btn-secondary">View point history</a>
	<a href="/admin" class="btn btn-secondary">View Admin Dashboard</a>
</div>
{% endblock %}
