{% extends "base.njk" %}
{% set title = "Points assigner" %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/admin">Admin</a></li>
		<li class="breadcrumb-item"><a href="/admin/points/manual">Points Assigner</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ manual_type }}</li>
	</ol>
</nav>

<div class="mb-4">
	<h3 class="mb-3">What qualifies for a basic event, an intermediate event and an advanced event?</h3>
	<p>These are the guidelines for the different types of events, including recommended criteria:</p>

	<ul>
		<li class="mb-3">
			<b>Basic event</b>
			<p>A basic event is suitable for small gatherings of students, it's simple to organize, held within the campus building with minimal logistic requirements , no budget involved. Example: "Movie Night".</p>
			<i>Criteria for a basic event:</i>
			<ul>
				<li>Aim for around 1-10 attendees.</li>
				<li>Minimal logistic arrangements needed, such as reserving the auditorium.</li>
				<li>Short event duration, typically lasting 1-2 hours including setup and cleanup.</li>
				<li>Does not require budgeting, as the resources needed (such as a movie, or campus facilities) are already freely available.</li>
			</ul>
		</li>
		<li class="mb-3">
			<b>Intermediate event</b>
			<p>An intermediate-level event aimed at engaging a larger number of students through activities that require moderate planning and coordination. Example:  "Eastern Lunch" & "Table Tennis League".</p>
			<i>Criteria for an intermediate event:</i>
			<ul>
				<li>Aim for around 10-50 attendees.</li>
				<li>Moderate logistical arrangements, including securing a location (inside or outside of the campus), prepare and coordinate activities or themes for the event.</li>
				<li>Limited budget requirement, covering food/drinks, possibility equipment and resources.</li>
				<li>Longer planning timeline with several deadlines.</li>
			</ul>
		</li>
		<li class="mb-3">
			<b>Advanced event</b>
			<p>An advanced-level event designed to bring together a large number of students for a significant social gathering or activity, requires extensive planning, resources and possibly external coordination. Example: "Student Party"</p>
			<i>Criteria for an advanced event:</i>
			<ul>
				<li>Aim for more than 50 attendees.</li>
				<li>Extensive planning with detailed scheduling and coordination, with several deadlines.</li>
				<li>Might involve coordination with external stakeholders, such as partners.</li>
				<li>High budget requirement, covering expenses for venue, catering, and entertainment etc&mldr;</li>
			</ul>
		</li>
	</ul>
</div>

<hr>

<form action="/admin/points/manual/event" method="post" class="mb-4">
	<div class="mb-2">
		<label for="event_name" class="form-label">Intra event</label>
		<input id="event_name" name="event_name" class="form-control" placeholder="Intra event" required>
		<div class="form-text">Search for the organized Intra event by name. If it's not showing up in the list, enter only the Intra event's ID instead.</div>
	</div>

	<div class="row mb-2">
		<div class="col-md-6">
			<label for="event_type_fake" class="form-label">Event type</label>
			<input type="text" id="event_type_fake" name="event_type_fake" class="form-control" placeholder="Event type" value="{{ manual_type }}" disabled readonly>
			<!-- Both a disabled and a hidden input, as Bootstrap doesn't render readonly inputs as disabled, which we'd like... And disabled inputs do not get submitted in the form POST. -->
			<input type="hidden" id="event_type" name="event_type" class="form-control" placeholder="Event type" value="{{ manual_type }}" readonly required>
		</div>
		<div class="col-md-6">
			<label for="point_amount" class="form-label">Points</label> <!-- don't bother changing this amount through the Inspector, it's not used by the back-end -->
			<input type="number" id="point_amount" name="point_amount" class="form-control" placeholder="Point amount" required value="{{ fixedPointType.point_amount }}" step="100" min="0" disabled readonly>
		</div>
	</div>

	<div class="mb-2">
		<label for="logins" class="form-label">Logins of the organizers, one per line</label>
		<textarea id="logins" name="logins" class="form-control" rows="7" placeholder="login1
login2
login3
..." required></textarea> <!-- This akward indentation is to make sure to have newlines in the placeholder. Could use &#10;, but this is not supported by Safari. -->
	</div>

	<div class="mb-2">
		<button type="submit" class="btn btn-primary">Assign points</button>
	</div>
</form>

<hr>

<h3 class="mb-3">Recently assigned points for organizing events</h3>
<table class="table coalition-colored" id="points-added">
	<thead>
		<tr>
			<th>Date</th>
			<th>Login</th>
			<th>Coalition</th>
			<th>Points</th>
			<th>Reason</th>
			<th>Intra Event ID</th>
		</tr>
	</thead>
	<tbody>
		{% for score in recentEventScores %}
			<tr class="points-added-row" style="background: {{ score.coalition.intra_coalition.color | rgba(0.25) }}">
				<td>{{ score.created_at | timeAgo }}</td>
				<td><a href="/profile/{{ score.user.intra_user.login }}/">{{ score.user.intra_user.login }}</a></td>
				<td>{{ score.coalition.intra_coalition.name }}</td>
				<td>{{ score.amount }}</td>
				<td>{{ score.reason }}</td>
				<td><a href="https://profile.intra.42.fr/events/{{ score.type_intra_id }}" target="_blank">{{ score.type_intra_id }}</a></td>
			</tr>
		{% endfor %}
		{% if recentEventScores|length == 0 %}
			<tr>
				<td colspan="6"><i class="text-muted">No points have been assigned yet for organizing events.</i></td>
			</tr>
		{% endif %}
	</tbody>
</table>

<script src="/js/apisearcher-inputlist.js"></script>
<script>
const apiSearcher = new ApiSearcherInputList({
	url: window.location.origin + '/admin/apisearch/events/',
	inputList: '#event_name',
	dataKeys: [
		{
			key: 'name',
			format: 'text',
		},
		{
			key: 'begin_at',
			format: 'date',
		},
		{
			key: 'id',
			format: 'text',
		},
	],
});
</script>
{% endblock %}
